<section class="for_bg_pres">
  <section class="container">
    <div class="prescription">
          <div class="sky_stick">
          </div>
          <div class="prescription_text">
            <div class="header_top">
                <table class="table" border="0">
                  <thead>
                    <tr>
                      <th>
                         <h4 class="text-uppercase"> {{clinic_name}}</h4><span class="designation"><h5>( {{getAge(clinic_estab)}} years with happy clients)</h5></span>
                      </th>
                      <th>
                         <h4 class="text-uppercase" style="text-align: right;">
                          {{prescriptionlists.doctordetails.first_name}} {{prescriptionlists.doctordetails.last_name}} <span class="designation"><h5>( {{prescriptionlists.doctordetails.degree}} )</h5></span>
                        </h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          &nbsp;
                      </td>
                      <td style="width: 45%; text-align: right;">

                        <table class="table">
   
                            <tbody>
                            <tr>
                                <td colspan="2">
                                  <p style="text-align: right;">Specialized in - <strong>{{prescriptionlists.doctordetails.specialization}}</strong></p>
                                </td>
                                <td>
                                  &nbsp;
                                </td>
                            </tr>    
                            <tr>
                                <td>
                                  <p>Experience <strong>{{prescriptionlists.doctordetails.experience}} yr.</strong></p>
                                </td>
                                <td style="width: 180px;"> 
                                  <p>Reg No. <strong>{{prescriptionlists.doctordetails.reg_no}}</strong></p>
                                </td>
                             </tr>
                            </tbody>
                          </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
              
              <div class="patient_details">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="list_label">
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
                                <p>Name :</p>
                              </div>
                              <div class="col-lg-9 col-md-9 col-sm-9 value_name">
                                <p class="bold_p">{{prescriptionlists.patientdetails.first_name | uppercase}} {{prescriptionlists.patientdetails.last_name | uppercase}}</p>
                                <hr> 
                              </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="list_label">
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
                                <p>Sex :</p>
                              </div>
                              <div class="col-lg-9 col-md-9 col-sm-9 value_name">
                                <p class="bold_p">{{prescriptionlists.patientdetails.gender | uppercase}}</p>
                                <hr>
                              </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="list_label">
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
                                <p>AGE :</p>
                              </div>
                              <div class="col-lg-9 col-md-9 col-sm-9 value_name">
                                <p class="bold_p">
                                {{getAge(prescriptionlists.patientdetails.date_of_birth)}}</p>
                                <!-- prescriptionlists.patientdetails.date_of_birth | date:'dd-MM-yyyy' -->
                                <hr>
                              </div>
                          </div>
                        </div>
                      </div>
                      
                     
                      
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="list_label">
                              <div class="row">
                                  <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
                                      <p>PRN No. :</p>
                                  </div>
                                  <div class="col-lg-9 col-md-9 col-sm-9 value_name">
                                    <p class="bold_p">{{prescriptionlists.prn}}</p>
                                    <hr>
                                  </div>
                              </div>
                        </div>
                      </div>
                      
                      <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="list_label">
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 align-self-center">
                                <p>Date :</p>
                              </div>
                              <div class="col-lg-9 col-md-9 col-sm-9 value_name">
                                <p class="bold_p"> {{myDate | date:'dd-MM-yyyy'}}</p>
                                <hr>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              
              <div class="report_details">
                <div class="patient_report">
                    <h4 class="text-uppercase patient_name">Body Vitals</h4>
                    <table class="table">
                          <thead>
                            <tr>
                              <th>Weight</th>
                              <th>Height</th>
                              <th>B.P</th>
                              <th>Gender</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td> {{prescriptionlists.weight}}</td>
                              <td> {{prescriptionlists.height}}</td>
                              <td> {{prescriptionlists.blood_pressure}}</td>
                              <td> {{prescriptionlists.patientdetails.gender | uppercase}}</td>
                            </tr>
                            
                          </tbody>
                        </table>
                  </div>
                  
                  <div class="patient_report">
                  
                    <table class="table">

                        <tr>
                          <td width="55%">

                               <table class="table" width="100%">
                                  <thead>
                                      <th><h4>Diagnosis</h4></th>
                                  </thead>
                                <tbody>
                                  <tr *ngFor="let diagnosis of prescriptionlists.prescription.diagnosis">
                                    <td>
                                      {{diagnosis.diagnosis_description}} 
                                    </td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                          </td>

                          <td>

                            <table class="table" width="100%">
                                <thead><h4>Investigation</h4></thead>
                                <tbody>

                                  <tr *ngFor="let investigation of prescriptionlists.prescription.investigation">
                                    <td>
                                      {{investigation.test_description}}
                                    </td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                          </td>
                        </tr>
                    </table>
                   
                  </div>
                  
                 
                  
                  <div class="patient_report medicine">
                    <h4>Madicine</h4>
                    <table class="table" width="100%">
                          <thead>
                            <tr>
                              <th>Medicine Name</th>
                              <th>Dosage</th>
                              <th>Power</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let medicine of prescriptionlists.prescription.medicine">
                              <td>
                                {{medicine.medicine_name}}
                              </td>
                               <td>
                                 {{medicine.medicine_dosage}}
                               </td>
                              <td>
                                {{medicine.medicine_power}}
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                    
                      <label><strong>Remarks:</strong></label>
                      <textarea class="form-control" readonly>{{prescriptionlists.prescription.remarks}}</textarea>
                  </div>
              </div>
              
             
            <div class="footer_inner">
              <div class="row">
                <div class="col-lg-7">
                    <p>
                      <strong>Address :</strong> &nbsp; &nbsp; {{clinic_address}}
                    </p>
                    <p><strong>Phone No : </strong> &nbsp; &nbsp; {{clinic_phone_no}}</p>
                    <p><strong>Email : </strong> &nbsp; &nbsp; {{clinic_email_id}}</p>
                </div>
                <div class="col-lg-5 text-right">
                  <h5>Doctor's Signature</h5>
                    
                </div>
              </div>
            </div>
          
          </div>
      </div>
  </section>
</section>