<div class="">
    <div class="container body">
      <div class="main_container">

        <app-sidebar></app-sidebar>

        <!-- top navigation -->
        <app-header></app-header>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Report Management</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
					  <div class="x_title">
					    <!-- <h2>Appoinment <small>List</small></h2> -->
					    <ul class="nav navbar-right panel_toolbox">
					      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					      </li>
					      <li><a class="close-link"><i class="fa fa-close"></i></a>
					      </li>
					    </ul>
					    <div class="clearfix"></div>
					  </div>
					  <div class="x_content">        
					  		<div class="col-sm-6 col-xs-6 col-md-6">
					  			<!-- <form class="form-horizontal form-label-left" #reportForm="ngForm" (ngSubmit)="reportAdd(reportForm)"> -->
								    <div class="form-group col-md-6 col-sm-6 col-xs-12">
									    <div class="item">
											<div class="col-md-6 col-sm-6 col-xs-12">
											  <input 
											  class="form-control col-md-7 col-xs-12" 
											  name="add_report"
											  required="required" 
											  type="file"
											  (change)="handleInputChange($event)" 
											  >
											</div>
										</div>
									</div>
									<!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
										<div class="col-md-6 col-md-offset-3">
										  <button type="submit" class="btn btn-success">Upload</button>
										</div>
									</div>
						  		</form> -->
						  		<div class="alert {{class}}" role="alert" id="doc_message" align="center"  *ngIf="message">{{message}}</div>
					  		</div>
					  		<div class="{{flag == 1?'show':'hide'}} col-sm-6 col-xs-6 col-md-6">
					  			<h2>Uploaded List</h2>
					  			<ul>
					  				<li *ngFor="let reportlist of reportlists">
					  					<a href="{{url}}{{reportlist.image}}" target="_blank" download="report">
										  <img src="{{url}}{{reportlist.image}}" alt="report" width="104" height="142">
										</a>
					  				</li>
					  			</ul>
					  		</div>
					  </div>
					</div>
				</div>
            </div>
          </div>
        </div>

        <!-- footer content -->
        <app-footer></app-footer>
        <!-- /footer content -->
      </div>
    </div>
</div>