<div class="login">
  <div>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">

          <form #forgotForm="ngForm" (ngSubmit)="adminForgot(forgotForm)">
            <h1>Forgot Password</h1>
            <div>
              <select
              name="typeofuser"
              id="typeofuser"
              class="form-control" 
              autocomplete="off"
              maxlength="255"
              #typeofuserRef="ngModel"
              ngModel
              required 
              >
                <option value="superadmin">Super Admin</option>
                <option value="clinic">Clinic</option>
                <option value="receptionist">Receptionist</option>
              </select>
              
            </div>
            <div class="text-danger" *ngIf="(forgotForm.submitted && typeofuserRef.errors) || (typeofuserRef.invalid && typeofuserRef.touched)">Please Select User type</div>
            <br>
            <div>
              <input 
              type="text"  
              name="email_id"
              id="email_id"
              class="form-control" 
              placeholder="Registered Email" 
              autocomplete="off"
              maxlength="255"
              #email_idRef="ngModel"
              ngModel
              required />
              <div class="text-danger" *ngIf="(forgotForm.submitted && email_idRef.errors) || (email_idRef.invalid && email_idRef.touched)">Please Enter Registered Email</div>
            </div>

            <div>
              <button type="submit" [disabled]="!forgotForm.form.valid" class="btn btn-default submit">Get Password</button>
              <a href="/login/" class="reset_pass">Back to Login</a>
            </div>
            <div class="alert {{class}}" role="alert">{{message}}</div>
            <div class="clearfix"></div>

            <div class="separator">
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw"></i> Clinic Admin App!</h1>
                <p>©2019 All Rights Reserved. Crescentek</p>
              </div>
            </div>
          </form>

        </section>
      </div>
    </div>
  </div>
</div>